<!-- components/popup/popup-criar.html -->
<div id="popup-criar-overlay" class="popup-overlay">
    <div class="popup-content">
        <div class="popup-header">
            <h3>Criar Novo</h3>
            <button id="btn-fechar-popup"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="popup-options">
            <button id="btn-criar-nota">
                <i class="fa-solid fa-note-sticky" style="color: #6366f1;"></i> Criar Nota
            </button>
            <button id="btn-abrir-criar-pasta">
                <i class="fa-solid fa-folder-plus" style="color: #eab308;"></i> Criar Pasta
            </button>
            <!-- A opção "Criar Arquivo" foi removida daqui -->
        </div>
    </div>
</div>