<div id="popup-confirmar-acta-overlay" class="popup-overlay" style="z-index: 11050;">
    <div class="popup-content popup-confirmar-acta-content">
        <div class="popup-confirmar-acta-icone" aria-hidden="true">
            <i class="fa-solid fa-trash-can"></i>
        </div>
        <h3>Apagar acta?</h3>
        <p>Esta acta será removida desta tarefa.</p>
        <div class="popup-confirmar-acta-acoes">
            <button type="button" id="btn-cancelar-apagar-acta" class="btn-cancelar">Cancelar</button>
            <button type="button" id="btn-confirmar-apagar-acta">Apagar acta</button>
        </div>
    </div>
</div>
