<!-- components/popup/popup-criar-share.html -->
<div id="popup-criar-share-overlay" class="popup-overlay" style="z-index: 10005;">
    <div class="popup-content" style="max-width: 320px;">
        <div class="popup-header">
            <h3>Novo no Share</h3>
            <button id="btn-fechar-popup-share"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="popup-options">
            <button id="btn-criar-nota-share">
                <i class="fa-solid fa-note-sticky" style="color: #ef4444;"></i> Criar Nota
            </button>
            <button id="btn-abrir-pasta-share">
                <i class="fa-solid fa-folder-plus" style="color: #fca5a5;"></i> Criar Pasta
            </button>
        </div>
    </div>
</div>