<div id="popup-firmamento-cores-overlay" class="popup-overlay" style="z-index: 10030;">
    <div class="popup-content firmamento-paleta-content">
        <div class="popup-header">
            <h3>Centro de Personalização</h3>
            <button type="button" id="btn-fechar-firmamento-cores" aria-label="Fechar">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <div class="firmamento-paleta-tabs">
            <button type="button" class="active" data-firmamento-tab="colorir">
                <i class="fa-solid fa-fill-drip"></i> Colorir
            </button>
            <button type="button" data-firmamento-tab="destaques">
                <i class="fa-solid fa-highlighter"></i> Destaques
            </button>
        </div>

        <div class="firmamento-paleta-body">
            <section data-firmamento-painel="colorir">
                <div id="firmamento-lista-cores"></div>
            </section>
            <section data-firmamento-painel="destaques" hidden>
                <div id="firmamento-lista-destaques"></div>
                <button type="button" id="btn-remover-destaque-firmamento">
                    <i class="fa-solid fa-eraser"></i> Remover destaque
                </button>
            </section>
        </div>
    </div>
</div>
