<div id="popup-nome-pasta-overlay" class="popup-overlay">
    <div class="popup-content">
        <div class="popup-header">
            <h3>Nome da Nova Pasta</h3>
            <button id="btn-cancelar-pasta-x"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div style="padding: 20px; display: flex; flex-direction: column; gap: 15px;">
            <input type="text" id="input-nome-pasta" placeholder="Ex: Projetos 2024..." 
                   style="width: 100%; padding: 12px; background: var(--bg-body); border: 1px solid var(--border-color); color: white; border-radius: var(--radius-sm); outline: none;">
            
            <div style="display: flex; gap: 10px; justify-content: flex-end; margin-top: 5px;">
                <button id="btn-cancelar-pasta" style="padding: 10px 16px; background: transparent; border: 1px solid var(--border-color); color: var(--text-muted); border-radius: var(--radius-sm); cursor: pointer; transition: 0.2s;">Cancelar</button>
                <button id="btn-confirmar-pasta" style="padding: 10px 16px; background: var(--primary); border: none; color: white; font-weight: 600; border-radius: var(--radius-sm); cursor: pointer; transition: 0.2s;">Criar Pasta</button>
            </div>
        </div>
    </div>
</div>