<!-- components/auth/auth.html -->
<div id="loading-screen">
    <div class="spinner"></div>
    <div class="loading-text">A verificar encriptação...</div>
</div>

<div id="login-screen">
    <div class="login-card">
        <h2><i class="fa-solid fa-lock" style="color: var(--primary);"></i> Acesso Restrito</h2>
        <input type="email" id="emailInput" placeholder="O teu email...">
        <input type="password" id="passwordInput" placeholder="A tua password...">
        <div id="login-error">Credenciais incorretas.</div>
        <button id="btnLogin">Entrar</button>
    </div>
</div>
