/* styles/typography.css */

:root {
    /* COLUNA DA ESQUERDA */
    --fs-left-tabs: 11px;         /* LOCAL, SHARE, LISTS... */
    --fs-left-items: 13.5px;      /* Nomes das pastas e livros */
    
    /* BÍBLIA (Na esquerda) */
    --fs-biblia-capitulos: 13px;  /* Números dos quadrados */
    --fs-biblia-versiculos: 14px; /* O texto sagrado */
    --fs-biblia-v-num: 10px;      /* O numerozinho do versículo */

    /* EDITOR CENTRAL */
    --fs-editor-titulo: 24px;     /* Título da nota */
    --fs-editor-texto: 15px;      /* Texto dentro dos contentores */
    --fs-editor-info: 11px;       /* Texto "Sincronizado" */
    --fs-editor-header: 13px;     /* Ícones e botões da barra laranja */

    /* COLUNA DA DIREITA */
    --fs-right-tabs: 12px;        /* EYE, BRAIN */
    --fs-right-subtabs: 12px;     /* Índice, Textos... */
    --fs-right-results: 13px;     /* Resultados de pesquisa */

    /* GERAL */
    --fs-popup-titulos: 16px;
    --fs-popup-opcoes: 14px;

     /* ... outras variáveis ... */
    --fs-biblia-box: 38px; /* Tamanho padrão do quadrado */
    --fs-editor-titulo-ferramentas: 14px; /* Tamanho base para títulos */
     --fs-biblia-coluna-inteligente: 13px; /* Valor padrão */

}